@import url(initializer.css);

.contenido {
    width: 500px;
    margin: 0 auto;
    row-gap: 0.5rem;
    justify-content: center;
}

.form-registre {
    justify-content: center;
    row-gap: 0.5rem;
}

.form-registre-client > input {
    border-radius: 5px;
    border: 0;
}

.form-registre-client > input:focus {
    outline: none;
}

